@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.woff2') format('woff2'),
        url('../fonts/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
  font-family: 'Lato-Italic';
  src: url('../fonts/Lato-Italic.woff') format('woff'),
       url('../fonts/Lato-Italic.woff2') format('woff2');
	font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.woff2') format('woff2'),
        url('../fonts/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.woff2') format('woff2'),
        url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato Hairline';
    src: url('../fonts/Lato-Hairline.woff2') format('woff2'),
        url('../fonts/Lato-Hairline.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.fullscreen {
	min-height: 100vh;
	background: #F1E4E6;
	display: flex;
	flex-direction: column;
}
.wrapper {
	font-family: 'Lato';
	width: 100%;
	min-height: 100%;
	overflow: auto;
	display: flex;
	flex-direction: column;
}
.container {
	max-width: 1160px;
	margin: 0 auto;
	position: relative;
	padding: 0px 10px;
}
main{
	flex: 1 1 auto;
}
.header-fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 75px;
	background:#222222;
	padding: 16px 0px;
	z-index: 100;
}
.header-fullscreen__body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
.header-fullscreen__logo-search {
	display: flex;
	align-items: center;
}
svg path {
	transition: all .3s ease;
}
svg:hover path {
	fill:#F16D7F;
}
.header-fullscreen__logo {
	margin: 0px 41px 0px 0px;
}

.header-fullscreen__burger {
	display: flex;
	align-items: center;
	position: relative;
}
.header-fullscreen__menu {
	display: inline-block;
	position: relative;
	width: 32px;
	height: 23px;
}
.header-fullscreen__menu span{
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0,-50%);
	width: 100%;
	height: 2px;
	background: #fff;
	transition: all 0.3s 0s;
}
.header-fullscreen__menu:before,.header-fullscreen__menu::after{
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	transition: all 0.3s 0s;
}
.header-fullscreen__menu:before{
	top: 0;
}
.header-fullscreen__menu:after{
	bottom: 0;
}
.header-fullscreen__menu.active:before{
	transform:rotate(45deg);
	top: 9px;
}
.header-fullscreen__menu.active:after{
	transform: rotate(-45deg);
	bottom: 11px;
}
.header-fullscreen__menu.active span{
	transform: scale(0);
}
.header-fullscreen__dropmenu {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	height: 100vh;
	top: 35px;
	left: 0;
	transition: all 0.3s 0s;
	overflow: auto;
	margin: 15px 0px 0px 0px;
}
.header-fullscreen__dropmenu.active{
	opacity: 1;
	visibility: visible;
}
.header-fullscreen__wrapper{
	margin: auto;
	min-width: 232px;
	padding: 32px 32px 12px 32px;
	background-color: #fff;
}
.header-fullscreen__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	margin: 0px 0px 24px 0px;
}
.header-fullscreen__list>li{
	margin: 0px 0px 20px 0px;
}
.header-fullscreen__list>li:last-child{
	margin: 0px 0px 70px 0px;
}
.header-fullscreen__link {
	display: inline-block;
	color: #F16D7F;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	margin: 0px 0px 12px 0px;
}
.header-fullscreen__sublist li{
	margin: 0px 0px 11px 20px;
}
.header-fullscreen__sublist li:last-child{
	margin: 0px 0px 0px 20px;
}
.header-fullscreen__sublink {
	font-size: 14px;
	line-height: 16px;
	color:#6F6E6E;
}
.burger-item{
margin: 0px 0px 0px 33px;
}

.header-fullscreen__perchase {
	position: relative;
}
.perchase__counter{
	position: absolute;
	top: -6px;
	right: -6px;
	width: 19px;
	height: 19px;
	border-radius: 50%;
	background-color: #F16D7F;
	display: flex;
	justify-content: center;
	align-items: center;
}
.perchase__counter span{
	color: #fff;
	font-size: 12px;
}
.fullscreen__body {
	min-height: 100vh;
}
.body-fullscreen {
	
}
.body-fullscreen__body{
	display: flex;
	padding: 75px 0px 0px 0px;
	min-height: 100vh;
}
.body-fullscreen__item{
	flex: 0 1 50%;
}
.body-fullscreen__image img{
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}
.body-fullscreen__text {
	display: flex;
	align-items: center;
	justify-content: center;
}
.body-fullscreen__title {
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
	color: #222222;
	margin: 0px 0px 0px 63px;
	max-width: 425px;
	position: relative;
	padding: 0px 0px 0px 28px;
}
.body-fullscreen__title:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 12px;
	height: 105%;
	background: #F16D7F;
}
.body-fullscreen__title_b{
	font-weight: 900;
	font-size: 48px;
	line-height: 58px;
}
.body-fullscreen__title_p{
	color: #F16D7F;
}
.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index:1;
}
.gallary__body {
	padding: 4% 0px;
	display: grid;
	gap: 19px;
}
.gallary__items{
	display: grid;
	gap: 19px;
	grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}
.gallary__items_smallitem{
	display: grid;
	grid-auto-flow: column;
}
.gallary__item {
	position: relative;
}
.gallary__item:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 22, 22, .7);
	z-index: 2;
}
.gallary__img {
	display: block;
	position: relative;
	padding: 0px 0px 60% 0px;
}
.gallary__img_big{
	padding: 0px 0px 15% 0px;
}
.gallary__img img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.gallary__text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	z-index: 3;
}
.gallary__title {
color: #FFFFFF;
font-size: 16px;
text-transform: uppercase;
font-weight: 400;
line-height: 29px;
}
.gallary__subtitle {
color: #F16D7F;
font-size: 24px;
text-transform: uppercase;
font-weight: 700;
line-height: 28px;
}
.feturedItems{
	padding: 0px 0px 4% 0px;
	display: grid;
	grid-auto-flow: row;
}
.feturedItems__body {
	padding: 4% 0px;
}
.feturedItems__title {
	display: grid;
	align-items: center;
	justify-content: center;
	padding: 4% 0px;
	text-align: center;
	margin: 0px 0px 4% 0px;
}
.title-feturedItem__title {
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	color: #222222;
	margin: 0px 0px 5px 0px;
}
.title-feturedItem__subtitle {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #9F9F9F;
}
.feturedItems__content {
	display: grid;
	gap: 18px;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.feturedItems__item {
	display: grid;
	background-color: #F8F8F8;
	grid-auto-flow: row;
	grid-template: auto 1fr minmax(40px, auto) auto/1fr;
}
.feturedItems__image {
	position: relative;
	padding: 0px 0px 120% 0px;
	margin: 0px 0px 25px 0px;
}
.feturedItems__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.feturedItems__name {
	padding: 0px 0px 0px 17px;
	font-size: 13px;
	line-height: 16px;
	color: #000;
}
.feturedItems__data {
	padding: 0px 0px 0px 17px;
	margin: 12px 0px 18px 0px;
	font-size: 14px;
	line-height: 17px;
	font-weight: 300;
	color: #5D5D5D;
}
.feturedItems__price {
	padding: 0px 0px 0px 17px;
	margin: 0px 0px 20px 0px;
	font-size: 16px;
	line-height: 19px;
	color: #F16D7F;

}
.button__btn {
	justify-self: center;
}
.btn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	line-height: 48px;
	padding: 0px 48px;
	background: #fff;
	border: 1px solid #FF6A6A;
	transition: all 0.3s 0s;
}
.btn:hover{
	background: #FF6A6A;
}
.btn span{
	color: #FF6A6A;
	font-size: 16px;
	transition: all 0.3s 0s;
}
.btn:hover span{
	color: #fff;
}
.feturedItems__image>span{
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(58, 56, 56, .8);
 opacity: 0;
 visibility: hidden;
 transition: all 0.3s 0s;
 display: grid;
 align-items: center;
 justify-content: center;
}
.feturedItems__image:hover span{
	opacity: 1;
 visibility: visible;
}
.hover-button {
	display: grid;
	grid-auto-flow: column;
	justify-content: center;
	align-items: center;
	height: 45px;
	line-height: 45px;
	padding: 0px 20px;
	border: 1px solid #fff;
}
.hover-button:hover {
	padding: 0px 20px;
	border: 1px solid #FF6A6A;
}
.hover-button svg{
	margin: 0px 8px 0px 0px;
}
.hover-button>span{
	color: #fff;
	font-size: 14px;
	line-height: 45px;
}
.dopInfo__body {
	padding: 5% 0px;
	background-color: #222224;
}
.dopInfo__column {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	gap: 30px;
	align-items: center;
}
.column-dopInfo__item {
	display: grid;
	grid-auto-flow: row;
	grid-template: minmax(auto, 55px) 1fr minmax(40px, 1fr)/1fr;
	justify-items: center;
}
.column-dopInfo__img {
	margin: 0px 0px 30px 0px;
}
.column-dopInfo__title {
	font-size: 20px;
	line-height: 24px;
	color: #FBFBFB;
	margin: 0px 0px 16px 0px;
}
.column-dopInfo__text {
	font-size: 14px;
	line-height: 17px;
	color: #FBFBFB;
	font-weight: 300;
	text-align: center;
	max-width: 360px;
}
.subscribe__body {
	padding: 5% 0px;
	background: url('../img/main/bg.png') 30%/cover no-repeat;
	position: relative;
}
.subscribe__body::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(244,244, 244, .6);
}
.subscribe__column {
	display: grid;
	grid-template-columns: repeat(auto-fit,  minmax(280px, 1fr));
	grid-template-rows: 1fr;
	gap: 15px;
	align-items: center;
	justify-items: end;
}	
.column-subscribe__item{
	display: grid;
	align-items: center;
	grid-auto-flow: row;
	grid-template: minmax(auto, 120px) 1fr/1fr;
	position: relative;
	z-index: 2;
}
.column-subscribe__item:nth-child(1){
	justify-items: center;
	align-items: flex-start;
	justify-self: start;
}
.column-subscribe__item:nth-child(2){
	align-items: end;
}
.column-subscribe__img {
	background-color: #5D5D5D;
	border-radius: 50%;
	width: 80px;
	height: 80px;
}
.column-subscribe__text {
	color: #222224;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	max-width: 360px;
	font-style: italic;
}
.column-subscribe__textBlock{
	margin: 0px 0px 32px 0px;
}
.column-subscribe__title {
	font-weight: 700;
	font-size: 24px;
	line-height: 40px;
	text-align: center;
	color: #222224;
	text-transform: uppercase;
}
.column-subscribe__subtitle {
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	color: #222224;
	text-transform: uppercase;
}
.column-subscribe__form {
	display: flex;
	border-radius: 20px;
	overflow: hidden;
}
.form-column-subscribe__input {
	display: flex;
	height: 49px;
	line-height: 49px;
	padding: 7px;
	background: #E1E1E1;
	width: 100%;
}
.form-column-subscribe__btn{
	background-color: #F16D7F;
	padding: 10px;
	color: #fff;
}
.footer__body {
	background-color: #222224;
	padding: 3% 0px;
}
.footer__column {
	display: flex;
	justify-content: space-between;
	margin: 0px -10px;
}
.footer__item {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0px 10px;
	margin: 5px 0px;
}
.footer__text {
	color: #FBFBFB;
	font-size: 16px;
	line-height: 20px;
}
.footer__list {
	display: flex;
}
.footer__list li{
	display: flex;
	width: 32px;
	height: 32px;
	background-color: #fff;
	margin: 0px 5px 0px 0px;
	align-items: center;
	justify-content: center;
	transition: all 0.3s 0s;
}
.footer__list li:hover{
	background-color: #F16D7F;
}
.footer__list li.active{
	background-color: #F16D7F;
}
.footer__list li:last-child {
	margin: 0px;
}

.footer__list li:hover svg path {
	fill:#fff;
}
@media (min-height: 880px){
.body-fullscreen__item:nth-child(1) {
	flex:1 0 60%;
}
}
@media (max-width: 767.98px){
	.body-fullscreen__title {
	font-size: 22px;
	line-height: 24px;
	margin: 0px 0px 0px 15px;
	padding: 0px 0px 0px 22px;
	}

	.body-fullscreen__title_b{
	font-size: 28px;
	line-height: 38px;
	}
	.header-fullscreen__dropmenu{
	position: fixed;
	top: 75px;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0px 0px 0px 0px;
		}
	.header-fullscreen__wrapper{
	min-height: 100%;
	}
	.header-fullscreen__dropmenu.active{
	opacity: 1;
	visibility: visible;
	}
	.column-dopInfo__img {
	margin: 0px 0px 15px 0px;
	}
	.subscribe__column{
		display: block;
	}
	.column-subscribe__item{
		max-width: 360px;
		margin: 0 auto;
	}
	.column-subscribe__textBlock{
		margin: 0px 0px 25px 0px;
	}
	.column-subscribe__item:nth-child(1){
		align-items: center;
		margin: 0 auto 20px auto;
	}
	.gallary__img_big{
	padding: 0px 0px 30% 0px;
	}
}
@media (min-width: 767.98px){
	.nottouch .header-fullscreen__menu:hover .header-fullscreen__dropmenu{
	opacity: 1;
	visibility: visible;
}
}
@media (max-width: 479.98px){
	.header-fullscreen {
		padding: 10px 0px;
		min-height: 55px;
	}
	.header-fullscreen__dropmenu{
	top: 60px;
	}
	.body-fullscreen__image{
		display: none;
	}
	.body-fullscreen__text{
		flex: 1 0 100%;
	}
	.body-fullscreen__title {
	font-size: 32px;
	line-height: 38px;
	padding: 0px 0px 0px 28px;
	}
	.body-fullscreen__title_b{
	font-size: 36px;
	line-height: 48px;
	}
	.body-fullscreen__title_p{
	font-size: 36px;
	}
	.gallary__img_big{
	padding: 0px 0px 30% 0px;
	}
	.column-subscribe__text{
	font-size: 18px;
	}
	.column-subscribe__title{
	font-size: 22px;
	line-height: 22px;
	}
	.column-subscribe__subtitle{
	font-size: 12px;
	line-height: 22px;
	padding: 0px 30px;
	}
	.subscribe__body{
	padding: 20% 0px 35% 0px;
	}
	.subscribe__column{
	justify-items: center;
	}
	.footer__column{
	flex-direction: column;
	flex-direction: column-reverse;
	margin: 0px;
	}
		.footer__body{
	padding: 10% 0 0 0;
	}
	.footer__item:nth-child(2){
	margin: 0px 0px 40px 0px;
	}
}
@media (max-height: 620px){
	.ibg{
	background-position: top;
}
}
@media (max-height: 420px)and(max-width: 479.98px){
.fullscreen__header {
	min-height: 50px;
	padding: 5px 0px;
}
.body-fullscreen__body{
	padding: 60px 0px 0px 0px;
}
.header-fullscreen__dropmenu{
	top:20px;
}
}
body.lock{
	overflow: hidden;
}